*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: inside url('./imagens/icone.png');
    border-left: solid 1px #000;
    margin: 20px;
    padding: 15px;
    background-color: antiquewhite;
}

ol li{
    
    list-style: inside url('./imagens/icone.png');
    border-left: solid 1px #000;
    margin: 20px;
    padding: 15px;
    background-color: antiquewhite;
}