@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&family=Public+Sans:wght@300;400;800&display=swap');

p{
    font-family: 'fira code' , monospace;
    font-size: 20px;
    text-align: justify;
}